@media only screen and (max-width: 1359px) {
    .header-text h2 {
        font-size: 250%;
        color: cornsilk;
}

    button {
        background-color: rgb(118, 219, 126);
        font-size: 15px;
        width: 150px;
        height: 40px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
}