/* ------------------------------------------------------------------------------ */
/* ------------------------------------PAGE------------------------------------ */
/* ------------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html
body {
    background-color: #fff;
    color: #555;
    font-family: 'lato', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}





/* ------------------------------------------------------------------------------ */
/* ------------------------------------HEADER------------------------------------ */
/* ------------------------------------------------------------------------------ */
header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/smilinggirls.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------LOGO------------------------------------ */
/* ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */
/* ------------------------------------NAVIGATION------------------------------------ */
/* ------------------------------------------------------------------------------ */
nav {
    margin: 0 auto;
    display: block;
}



nav img {
    height: 75px;
    padding: 0;
    display: inline-block;
}

ul {
    float: right;
}

li {
    list-style: none;
    padding: 10px 25px;
    float: left;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------HEADER-TEXT------------------------------------ */
/* ------------------------------------------------------------------------------ */


.header-text {
    /* height: 500px;
    width: 500px; */
    position: absolute;
    left: 20%;
    top: 50%;
    display: inline-block;
    border: 2px solid green;
    margin: 0 auto;
}
.header-text h2 {
    font-size: 400%;
    color: cornsilk;
}





